* {
  color: #ccc7d1;
  font-family: "Chakra Petch", sans-serif;
  transition: all 0.25s ease-in-out;
}
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: no-repeat radial-gradient(#252736, #0e0e14);
}
h1,
legend {
  text-align: center;
  width: 100vw;
}
.hidden {
  opacity: 0;
}
.buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  /* display: flex;
  flex-direction: column; */
  position: relative;
  z-index: 100;
}
.buttons.left {
  float: left;
}
.buttons.right {
  float: right;
}
.buttons li {
  position: relative;
}
.button {
  box-sizing: border-box;
  background-color: transparent;
  backdrop-filter: blur(5px);
  font-size: 20px;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border: 1px solid #ccc7d1;
  border-radius: 5px;
  text-decoration: none;
  opacity: 0.45;
  cursor: pointer;
}
.button:hover {
  opacity: 1;
  scale: 1.1;
  background-color: rgba(0, 0, 0, 0.3);
}
.buttons :not(:first-child) .button {
  margin-top: 0;
}
.small.button{
  margin: 10px;
  width: 40px;
  height: 40px;
}
.button .icon,
button i::before {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button.small .icon{
  height: 25px;
  width: 25px;
}
.dropmenu {
  min-width: 300px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 3px;
  border: 1px solid #ccc7d166;
  transform: translateY(-10px);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.1s ease-in-out;
  position: absolute;
  left: 100px;
  top: 0;
  list-style: none;
  padding: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.dropmenu.open {
  opacity: 1;
  transform: none;
}
.dropmenu .button.mesh,
.dropmenu .button.rotation-plane {
  height: auto;
  width: auto;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc7d1;
  margin: 10px;
}

.dropmenu .planes,
.dropmenu .tools{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
}

.dropmenu .tools .button.small{
  margin:10px;
}

main {
  position: absolute;
  height: 100%;
}

legend * {
  margin: auto;
}
.legend-bar {
  margin-top: 3px;
  border: 1px solid #ccc7d1c0;
  height: 10px;
  max-width: 300px;
  border-radius: 3px;
  background: linear-gradient(to right, hsl(200, 100%, 50%), hsl(250, 100%, 50%), hsl(300, 100%, 50%), hsl(0, 100%, 50%));
  opacity: 0.7;
}
.wikipage {
  height: 100vh;
  width: 400px;
  position: absolute;
  top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.45);
  border-top-color: transparent;
  left: 100%;
  top: -25px;
  background: no-repeat linear-gradient(to bottom, #0e0e14bb, #252736bb);
  backdrop-filter: blur(5px);
  transition: 0.8s;
  z-index: 2;
  padding: 30px;
  display: none;
}
.wikipage h3 {
  font-size: 24px;
}
.wikipage p {
  font-size: 14px;
  line-height: 1.2rem;
}
.wikipage.open {
  left: calc(100% - 550px + 95px);
  display: block;
}
.button.wiki {
  transition: 0.8s;
}
.button.wiki.open {
  position: relative;
  transform: translateX(-450px);
}
.info {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 0;
  opacity: 0.4;
}

.info > *{
  display: block;
}

.technical-data {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}
.technical-data p {
  margin: 0;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 24px;
  }
  .wikipage {
    width: 250px;
  }
  .wikipage.open {
    left: calc(100% - 450px + 140px);
  }
  .button {
    width: 35px;
    height: 35px;
  }
  .button .icon,
  button i::before {
    width: 20px;
    height: 22px;
  }
  .buttons.left .button {
    margin-left: 15px;
  }
  .buttons.right .button {
    margin-right: 15px;
  }
  .buttons :first-child .button {
    margin-top: 15px;
  }
  .button.wiki.open {
    transform: translateX(-310px);
  }
  .dropmenu {
    left: 65px;
    min-width: 225px;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 160px;
    margin: auto;
    margin-top: 15px;
  }
}
