* {
  --text-color: #88ffdd;
  --secondary-color: #099;
  --bg-color1: #18222d;
  --bg-color2: #0d1216;
  --min-last-coordinate-color: #00c;
  --mid-last-coordinate-color: #c0c;
  --max-last-coordinate-color: #c00;
  color: var(--text-color);
  font-family: "Chakra Petch", sans-serif;
  transition: all 0.25s ease-in-out;
  cursor: url('/cursor.svg'), auto;
}
svg, path{
  fill: var(--text-color);
}
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  background: no-repeat radial-gradient(var(--bg-color1), var(--bg-color2));
}
h1,
legend {
  text-align: center;
  width: 100vw;
}
.hidden {
  opacity: 0;
}

ul{
  list-style: none;
}

.buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 100;
}
.dropmenu .buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.buttons.left {
  float: left;
}
.buttons.right {
  float: right;
}
.buttons li {
  position: relative;
}
.button {
  box-sizing: border-box;
  background-color: transparent;
  backdrop-filter: blur(5px);
  font-size: 20px;
  margin: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 65px;
  border: 2px solid var(--text-color);
  border-radius: 3px;
  text-decoration: none;
  opacity: 0.45;
}
.button:hover,
.button.active {
  opacity: 1;
  scale: 1.05;
  background-color: rgba(0, 0, 0, 0.3);
}
.small.button{
  margin: 10px;
  width: 40px;
  height: 40px;
}
.button .icon,
button i::before {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon{
  background-color: var(--text-color);
  mask-image: var(--icon-url);
  -webkit-mask-image: var(--icon-url);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: contain;
  -webkit-mask-size: contain;
}
.button.small .icon{
  height: 25px;
  width: 25px;
}

input[type=range]{
  -webkit-appearance: none;
  width: 100%;
  box-sizing: border-box;
}

input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 16px;
  width: 8px;
  border-radius: 2px;
  background-color: var(--text-color);
  cursor: pointer;
  margin-top: -5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]::-webkit-slider-runnable-track{
  -webkit-appearance: none;
  border: 1px solid var(--text-color);
  height: 8px;
  border-radius: 5px;
  background-color: var(--bg-color2);
}

.renderer {
  position: absolute;
}
.dropmenu {
  min-width: 300px;
  width: max-content;
  max-width: 600px;
  min-height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  border-radius: 3px;
  border: 1px solid var(--text-color);
  transform: translateY(-10px);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.1s ease-in-out;
  position: absolute;
  top: 0;
  list-style: none;
  padding: 5px;
  display: none;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  cursor: default;
}
.dropmenu p {
  margin: 0;
  padding: 0;
}
.dropmenu.left{
  left: 100px;
}
.dropmenu.right{
  right: 100px;
}
.dropmenu.open {
  opacity: 1;
  transform: none;
}
.dropmenu .button {
  height: auto;
  width: auto;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid var(--text-color);
  margin: 10px;
}

.dropmenu .planes,
.dropmenu .tools{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.dropmenu .tools .button.small{
  margin:10px;
}

.rotation-plane{
  border: 1px solid var(--text-color);
  width: 150px;
  display: inline-block;
  padding: 5px;
  margin: 8px;
  box-sizing: border-box;
}

.plane-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main {
  position: absolute;
  height: 100%;
}

legend * {
  margin: auto;
}

legend {
  position: absolute;
  bottom: 12px;
}

.legend-values {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;
}

.legend-value {
  font-size: 12px;
  margin: 0;
}

.legend-bar {
  margin-top: 3px;
  border: 1px solid var(--secondary-color);
  height: 10px;
  max-width: 450px;
  border-radius: 1px;
  background: linear-gradient(in oklab to right, var(--min-last-coordinate-color), var(--mid-last-coordinate-color) 50%, var(--max-last-coordinate-color));
  opacity: 0.7;
}
.wikipage {
  height: 100vh;
  width: 400px;
  position: absolute;
  top: 0px;
  border: 1px solid var(--text-color);
  border-top-color: transparent;
  left: 100%;
  top: -25px;
  background: no-repeat linear-gradient(to bottom, var(--bg-color1), var(--bg-color2));
  backdrop-filter: blur(5px);
  transition: 0.8s;
  z-index: 2;
  padding: 30px;
  display: none;
}
.wikipage h3 {
  font-size: 24px;
}
.wikipage p {
  font-size: 14px;
  line-height: 1.2rem;
}
.wikipage.open {
  left: calc(100% - 550px + 95px);
  display: block;
}
.button.wiki {
  transition: 0.8s;
}
.button.wiki.open {
  position: relative;
  transform: translateX(-450px);
}

input[type="number"] {
  width: 25px;
  margin: 5px;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid var(--text-color);
  background-color: transparent;
  color: var(--text-color);
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.info {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 0;
  opacity: 0.4;
}

.info > *{
  display: block;
}

.technical-data {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
}
.technical-data p {
  margin: 0;
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 24px;
  }
  .wikipage {
    width: 250px;
  }
  .wikipage.open {
    left: calc(100% - 450px + 140px);
  }
  .button {
    width: 35px;
    height: 35px;
  }
  .button .icon,
  button i::before {
    width: 20px;
    height: 22px;
  }
  .buttons.left .button {
    margin-left: 15px;
  }
  .buttons.right .button {
    margin-right: 15px;
  }
  .buttons :first-child .button {
    margin-top: 15px;
  }
  .button.wiki.open {
    transform: translateX(-310px);
  }
  .dropmenu {
    left: 65px;
    min-width: 225px;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 160px;
    margin: auto;
    margin-top: 15px;
  }
}
